body {
  color: black;
  font-family: arial;
  margin: 0px;
  background-color: "green";
}

}
div {
  min-height: 50vh;
  width: 80vw;
}
/* id is # class is . */


}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 7em;
}
h2 {font-size: 5em;
}
img {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 130px;
}
p {
  margin: 12vh 10vw;
  font-size: 5em;
}
a {
  color: rgb(0,0,0);
}
ul {
  list-style: none;
  display: flex;
}
li{
  margin: 0 20px
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
